.index-card {
  cursor: pointer;
  margin: 5px 5px 5px 0;
  background: red;
  border-radius: 2px;
  height: 90px;
  width: 90px;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  user-select: none;
  .prefix {
    font-size: 45px;
    font-weight: 600;
    color: #fff;
    .sub {
      font-size: 25px;
    }
  }

  .footer {
    position: absolute;
    right: 0;
    bottom: 0;
    color: #fff;
    font-size: 15px;
    margin: 2px 5px;
  }
}
