.timecard-wrapper {
  display: flex;
  flex-direction: row;

  .left {
    width: 50%;
  }

  .right {
    width: 50%;
  }

  .cubes {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }

  align-items: flex-start;

  margin: 20px;

  .thumbnail {
    height: 20px;
    margin: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }
}
