.timecard-wrapper {
  &-left {
    .cubes {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
    }

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;

    margin: 20px;
    margin-right: 50%;

    .thumbnail {
      height: 20px;
      margin: 5px;
      box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }
  }

  &-right {
    .cubes {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
    }

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    margin: 20px;

    margin-left: 50%;

    .thumbnail {
      height: 20px;
      margin: 5px;
      box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }
  }
}
