@import "./index_card";
@import "./home";
@import "./project_table";
@import "./top_bar";
@import "./welcome";
@import "./work";
@import "./timeline";
@import "./time_card";
@import "./image_view";

body,
html {
  height: 100%;
  background: transparent;

  #app {
    width: 100%;
    height: 100%;
  }
}
