.anime {
    padding:100px 0;
    .blue,.green{
        width:100px;
        height:100px;
        border-radius: 100px;
        padding:10px 0 0 10px;
        .ball{
            width:30px;
            height:30px;
            border-radius:20px;
            background-color: #fff;
        }
    }
    .blue{
        background-color: blue;
    }
    .green{
        background-color: limegreen;
    }
}